{% load static %} {% load bootstrap5 %} {% bootstrap_css %}
{%bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link href="{% static "blog/css/style.css" %}" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-main">
    <nav id="navbar-main" class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " href="{%url 'template'%}">Início</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="#">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="contato" class="section bg-light">
      <div class="container">
        <h2 class="text-center mb-5">Entre em Contato</h2>
        <div class="row">
          <div class="col-lg-6">
            <h4>Informações de Contato</h4>
             <i class="bi bi-geo-alt-fill"></i>
            <a
              href="https://www.google.com/maps/search/ifb+brasilia/@-15.8251345,-48.2278229,10z/data=!3m1!4b1?entry=ttu&g_ep=EgoyMDI1MDcxNS4xIKXMDSoASAFQAw%3D%3D"
            >
             </i> IFB Campus Brasília, Brasília - DF
            </a>
            <p><i class="bi bi-telephone-fill"></i> (XX) 99999-8888</p>
            <p><i class="bi bi-envelope-fill"></i> setembroamarelo@gmail.com</p>
          </div>
          <div class="col-lg-6">
            <form method="POST">
              {% csrf_token %}
              <div class="mb-3">
                {{ form.nome }}
              </div>
              <div class="mb-3">
                {{ form.email }}
              </div>
              <div class="mb-3">
                {{ form.mensagem }}
              </div>
              <button type="submit" class="btn btn-warning">
                Enviar Mensagem
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="bg-dark text-white pt-5 pb-4 mt-auto">
      <div class="container text-smd-start text-md-start">
        <div class="row text-center text-md-start">
          <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-3 fw-bold text-warning">
              Desenvolvedores
            </h5>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/Christopher-Nascimento"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Christopher Nascimento</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/davirfb"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Davi Rocha</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/FernandoFIC"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Fernando Fábio</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/lucashf04"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Lucas Henrique</a>
            </p>
          </div>
          <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mt-3 text-smd-center">
            <h5 class="text-uppercase mb-3 fw-bold text-warning">
              Referências
            </h5>
            <p>
              As informações apresantadas foram todas sintetizadas a partir do
              site oficial da Campanha Setembro Amarelo®:
              <br />
              <a href="https://www.setembroamarelo.com/"
                >https://www.setembroamarelo.com/</a
              >
            </p>

            <p>
              Das Diretrizes para Participação e Divulgação do Setembro
              Amarelo®:
              <br />
              <a
                href="https://www.setembroamarelo.com/_files/ugd/e0f082_161a6f790d0d43d1bc11d6b0a81346c0.pdf"
                >https://www.setembroamarelo.com/_files/ugd<br />/e0f082_161a6f790d0d43d1bc11d6b0a81346c0.pdf</a
              >
            </p>
            <p>
              Gráfico:
              <br />
              <a
                href="https://g1.globo.com/saude/noticia/2024/09/30/estudo-mostra-que-casos-de-suicidio-no-brasil-tiveram-crescimento-maior-apos-setembro-amarelo-associacao-brasileira-de-psiquiatria-contesta.ghtml"
                >https://g1.globo.com/saude/noticia/2024/09/30/estudo-mostra-que-casos-de-suicidio-no-brasil-tiveram-crescimento-maior-apos-setembro-amarelo-associacao-brasileira-de-psiquiatria-contesta.ghtml</a
              >
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">
              Instituição
            </h5>
            <p>
              <img
               src="{% static 'blog/img/IFB-footer.png' %}"
                alt="Instituto Federal de Brasília"
                width="100%"
                height="auto"
              />
            </p>
            <div class="col-md-5 col-lg-10">
              <p class="texte-center text-md-end">
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-twitter-x"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
              </p>
            </div>
          </div>
        </div>

        <hr class="mb-4" />

        <div class="row align-items-center">
          <div class="col-md-7 col-lg-8">
            <p class="text-center text-md-start">
              Copyright ©2025 Todos os direitos reservados por:
              <a
                target="_blank"
                href="https://www.ifb.edu.br/"
                class="footer-link fw-bold"
              >
                <strong class="text-warning"
                  >Instituto Federal de Brasília</strong
                >
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>

</html>
