{% load static %} {% load bootstrap5 %} {% bootstrap_css %}
{%bootstrap_javascript %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Setembro Amarelo</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="img/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link href="{% static "blog/css/style.css" %}" rel="stylesheet" />
  </head>
  <body data-bs-spy="scroll" data-bs-target="#navbar-main">
    <nav id="navbar-main" class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNav"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sobre">sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#dados">dados</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#encontre-ajuda">Encontre ajuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#referencias">Referências</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'contato'%}">Contato</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Por algum motivo, a estilização funcionou apenas pelo style.-->
    <section
      class="text-center"
      style="
        background: #393835;
        padding: 120px 0;
        font-family: 'Reem Kufi', sans-serif;
        color: var(--cor-amarela);
      "
    >
      <div class="row align-items-center">
        <div class="col-3">
          <img src="{%static 'blog/img/logo.png'%}" />
        </div>
        <div class="col-8 text-xxl-start">
          <h1 class=".fs-1">Mês de Prevenção ao Suicídio</h1>
          <h1 class=".fs-1 display-1">Setembro Amarelo</h1>
        </div>
      </div>
    </section>

    <section id="sobre" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <img
              src="{% static 'blog/img/img-inicio.jpg' %}"
              class="img-fluid rounded"
              alt="Imagem."
            />
          </div>
          <div class="col-lg-6 row align-items-center">
            <h2>O Que é o Setembro Amarelo?</h2>
            <p>
              O Setembro Amarelo® é a maior campanha anti estigma do mundo,
              dedicada à prevenção do suicídio e à conscientização sobre a
              importância da saúde mental. Lançada no Brasil em 2013 e promovida
              anualmente desde 2014 pela Associação Brasileira de Psiquiatria
              (ABP) em parceria com o Conselho Federal de Medicina (CFM)
            </p>

            <h5>Porque o Setembro Amarelo é importante?</h5>
            <p>
              Em um mundo onde o tema do suicídio ainda é muitas vezes visto
              como um tabu, o Setembro Amarelo® surge como um farol de esperança
              e conscientização. Esta é a maior campanha antiestigma do mundo,
              dedicada a destacar a importância da vida e a prevenção do
              suicídio, que infelizmente afeta pessoas de todas as origens,
              sexos, culturas, classes sociais e idades. Ao falar abertamente
              sobre o assunto, nosso objetivo é que quem esteja passando por
              momentos difíceis saiba que a vida sempre será a melhor escolha!
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="dados" class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 row align-items-center">
            <h2>Dados e Estatísticas</h2>
            <p>
              O suicídio é uma realidade global com grandes impactos sociais. De
              acordo com a pesquisa de 2019 da Organização Mundial da Saúde
              (OMS), mais de 700 mil suicídios são registrados anualmente em
              todo o mundo, sem contar os casos subnotificados, o que eleva a
              estimativa para mais de 1 milhão de ocorrências. No Brasil, os
              registros se aproximam de 14 mil casos por ano, significando uma
              média de 38 pessoas morrendo por suicídio a cada dia. Globalmente,
              os números têm diminuído, mas nos países das Américas, a tendência
              é contrária, com índices em ascensão. O suicídio é um problema de
              saúde pública significativo, superando mortes por HIV, malária,
              câncer de mama, guerras e homicídios.
            </p>
          </div>
          <div class="col-lg-6">
            <img
              src="{%static 'blog/img/estatisticas.png'%}"
              class="img-fluid rounded"
              alt="Imagem."
            />
          </div>
        </div>
      </div>
    </section>

    <section id="encontre-ajuda" class="section align-items-center text-center">
      <h2 style="color: red">Encontre Ajuda</h2>
      <div
        class="card mb-3 align-items-center text-center border-danger"
        style="margin: 0 20%"
      >
        <img
          src=" {%static 'blog/img/samu.png' %}"
          class="card-img-top"
          alt="..."
          style="width: 450px"
        />
        <div class="card-body">
          <p class="card-text">
            Quando a vida parece difícil e o sofrimento é tão grande que ofusca
            a esperança, é fundamental lembrar que você não está sozinho(a) e
            que existem caminhos para encontrar alívio e bem-estar. É importante
            saber que quase a totalidade dos casos de suicídio está relacionada
            a condições de saúde mental que podem, e devem, ser cuidadas e
            tratadas. Isso nos dá uma esperança imensa: com o suporte adequado,
            a grande maioria das pessoas pode se recuperar e encontrar novamente
            o prazer de viver. Mesmo nos momentos mais difíceis, é importante
            saber que a vida sempre oferece caminhos, e que existe ajuda para
            encontrar essas saídas. Se você está sentindo que precisa de apoio
            ou se pensamentos suicidas surgem, saiba que procurar um médico
            psiquiatra é um passo de coragem e cuidado consigo mesmo. Esses
            profissionais são capacitados para entender sua situação, oferecer o
            tratamento adequado e ajudar você a encontrar novas perspectivas.
          </p>
        </div>
      </div>
    </section>

    <footer class="bg-dark text-white pt-5 pb-4 mt-auto">
      <div class="container text-smd-start text-md-start">
        <div class="row text-center text-md-start">
          <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-3 fw-bold text-warning">
              Desenvolvedores
            </h5>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Christopher Nascimento</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/davirfb"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Davi Rocha</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a
                target="_blank"
                href="https://github.com/FernandoFIC"
                class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Fernando Fábio</a>
            </p>
            <p>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-linkedin"></i
              ></a>
              <a target="_blank" href="#" class="social-icon"
                ><i class="bi bi-github"></i
              ></a>
              <a>Lucas Henrique</a>
            </p>
          </div>
          <!--novo-->
          <div class="col-md-8 col-lg-3 col-xl-3 mx-auto mt-3 text-smd-center">
            <h5 class="text-uppercase mb-3 fw-bold text-warning">
              Referências
            </h5>
            <p>
              As informações apresantadas foram todas sintetizadas a partir do
              site oficial da Campanha Setembro Amarelo®:
              <br />
              <a href="https://www.setembroamarelo.com/"
                >https://www.setembroamarelo.com/</a
              >
            </p>

            <p>
              Das Diretrizes para Participação e Divulgação do Setembro
              Amarelo®:
              <br />
              <a
                href="https://www.setembroamarelo.com/_files/ugd/e0f082_161a6f790d0d43d1bc11d6b0a81346c0.pdf"
                >https://www.setembroamarelo.com/_files/ugd<br />/e0f082_161a6f790d0d43d1bc11d6b0a81346c0.pdf</a
              >
            </p>
            <p>
              Gráfico:
              <br />
              <a
                href="https://g1.globo.com/saude/noticia/2024/09/30/estudo-mostra-que-casos-de-suicidio-no-brasil-tiveram-crescimento-maior-apos-setembro-amarelo-associacao-brasileira-de-psiquiatria-contesta.ghtml"
                >https://g1.globo.com/saude/noticia/2024/09/30/estudo-mostra-que-casos-de-suicidio-no-brasil-tiveram-crescimento-maior-apos-setembro-amarelo-associacao-brasileira-de-psiquiatria-contesta.ghtml</a
              >
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h5 class="text-uppercase mb-4 fw-bold text-warning">
              Instituição
            </h5>
            <p>
              <img
                src="{% static 'blog/img/IFB-footer.png' %}"
                alt="Instituto Federal de Brasília"
                width="100%"
                height="auto"
              />
            </p>
            <div class="col-md-5 col-lg-10">
              <p class="texte-center text-md-end">
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-twitter-x"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a href="#" class="social-icon"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
              </p>
            </div>
          </div>
        </div>

        <hr class="mb-4" />

        <div class="row align-items-center text-center">
          <div class="col-md-7 col-lg-8 text-center">
            <p class="align-items-center">
              Copyright ©2025 Todos os direitos reservados por:
              <a
                target="_blank"
                href="https://www.ifb.edu.br/"
                class="footer-link fw-bold"
              >
                <strong class="text-warning"
                  >Instituto Federal de Brasília</strong
                >
              </a>
            </p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
